@import "~assets/css/module/reset.css";

:root{
    /* Configuration */
    --interface-size: 1200px;
    --spacing-little: 10px;
    --spacing-medium: 20px;
    --spacing-large: 30px;
    /* Sub Color */
    --sub-color: #001122;
    --sub-color-dark-1: #000c18;
    /* Third Color */
    --neutral-color: #fbae3c;
}

body {
  min-height: 100vh;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

@media screen and (max-width: 64em) {
    html {
        font-size: 62.5%;
    }
}

@media screen and (max-width: 55em) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 30em) {
    html {
        font-size: 40%;
    }
}
